:root {
    --main-background-color: #232629;
    --secondary-background-color: #4d4d4d;
    --text-color-light: #EEE;
    --text-color-dark: #111;
    --main-button-color: #750303;
    --main-links-color: #ce6767;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75em;
    font-size: 16px;
    background-color: var(--main-background-color);
    color: var(--text-color-light);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

}

img {
    max-width: 100%;
}

li {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: var(--text-color-light);
}

a:hover {
    text-decoration: none;
    color: var(--text-color-light);
}

textarea {
    min-width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.app {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/**
* Remark
*/

.remark {
    border: .1rem solid #EEE;
    margin: 1rem 0;
    border-radius: 2rem 0;
    background: #f1b8b8;
    color: var(--text-color-dark)
}

.remark>div {
    padding: 1rem;
}

.header-remark {
    border-bottom: .08rem solid #888;
    border-radius: 2rem 0 0 0;
    color: var(--text-color-light)
}

.footer-remark {
    border-radius: 0 0 2rem 0;
    color: var(--text-color-dark);
}

.footer-remark a {
    color: var(--text-color-dark);
}

.description-remark {
    font-size: 120%;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color-dark);
}

.remark-button .btn, .remark-button .active {
    background: var(--main-button-color);
    border: none;
}

.btn.remark-button-number {
    background: #FFF;
    font-weight: 600;
}

.remark-button .clicked {
    background: #999;
    color : #FFF;
    border : 1px solid
}

.remark-button-number.clicked {
    background: #cfd8e8!important;
    color : #888;
    border : 1px solid #fff
}

.remark-button-number.clicked:active {
    background: #cfd8e8!important;
    color : #888;
    border : 1px solid #fff
}

.remark-button .btn:hover {
    background: #AAA!important;
}

.remark-button .btn:focus {
    box-shadow: none!important;
}
/**
* Login
*/


.login {
    padding:5rem;
    min-height: 100%;
    align-content: center;
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}


.login .card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: var(--secondary-background-color) !important;
}

.login .social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: var(--main-button-color);
}

.login .social_icon span:hover {
    color: white;
    cursor: pointer;
}

.login .card-header h3 {
    color: white;
}

.login .social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.login .input-group-prepend span {
    width: 50px;
    background-color: var(--main-button-color);
    color: #FFF;
    border: 0 !important;
}

.login input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login .remember {
    color: white;
}

.login .remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login .login_btn {
    background-color: var(--main-button-color);
    color: #FFF;
    width: 100px;
}

.login .login_btn:hover {
    color: #000;
    background-color: white;
}

.login .links {
    color: white;
}

.login .links a {
    margin-left: 4px;
    color: var(--main-links-color);
}